{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>NET Logviewer</h1>
        <h5 class="header col s12 light grey-text">This site will only be used for hosting logs for the NET Support bot hosted by MarcusPlayzTwitch, The Deputy Manager at NET</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/YmtBDpU" class="btn waves-effect my-button">NET Discord</a>
            <a href="https://www.roblox.com/groups/5527328/Nottingham-Express-Transit-NET#!/about" class="btn waves-effect my-button">NET Group</a>
            <a href="https://www.roblox.com/groups/5527328/Nottingham-Express-Transit-NET#!/store" class="btn waves-effect my-button">NET Group Store</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
